---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro";
import WorkCard from "../components/WorkCard.astro";

const { blok } = Astro.props;

const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: "draft", // or 'published'
  starts_with: "work/",
  is_startpage: false,
});

const work = data.stories;
---

<section class="mx-6 my-12" {...storyblokEditable(blok)}>
  <h2 class="text-6xl text-[#50b0ae] font-bold text-center mb-12">
    {blok.headline}
  </h2>
  <ul class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {
      work?.length &&
        work.map((item) => {
          item.content.slug = item.slug;
          return (
            <li>
              <WorkCard content={item.content} />
            </li>
          );
        })
    }
  </ul>
</section>
